@model Services.ViewModels.PartnerViewModel
<Partial name="_Notification" />
<div class="table table-responsive w-100">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th>Profession</th>
                <th>Business Name</th>
                <th>Emmail</th>
                <th>Fax Number</th>
                <th>Phone Number</th>
                <th>Business Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.professionList)
            {
                <tr>
                    <td>@item.ProfessionNavigation!.Professionname</td>
                    <td>@item.Vendorname</td>
                    <td>@item.Email</td>
                    <td>@item.Faxnumber</td>
                    <td>@item.Phonenumber</td>
                    <td>@item.Businesscontact</td>
                    <td>
                        <button class="btn btn-outline-info shadow-none editProfessionBtn" value="@item.Vendorid">
                            Edit
                        </button>
                        <button class="btn btn-outline-info shadow-none deleteProfessionBtn" value="@item.Vendorid">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('.editProfessionBtn').click(function(){
        $.ajax({
            url : '/Admin/EditProfession',
            data: {"professionId" : $(this).val()},
            success: function (response) {
                $('#main-content').html(response)
            },
            error: function (xhr, status, error) {
                alert("Error in _PartnerTable page");
            }
        })
    })

    $('.deleteProfessionBtn').on('click', function (e) {
        e.preventDefault();
        var professionId = $(this).val()
        console.log($(this).val())
        swal.fire({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        }).then(function (result) {
            if (result.value) {
                console.log("Yes Btn");
                $.ajax({
                    url: '/Admin/DeleteProfession',
                    data: { "professionId": professionId },
                    success: function (response) {
                        $('#dataTable').html(response)
                        toastr.success("Deleted successfully.");
                    },
                    error: function (xhr, status, error) {
                        alert("Error in _PartnerTable page");
                    }
                })
            } else {
                console.log('Cancelled!');
            }
        });
    });

</script>