﻿
@model Services.ViewModels.ShiftforReviewModal


<div class="table-responsive shadow">
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th><input type="checkbox" id="chkbox" /></th>
                <th>Staff</th>
                <th>Day</th>
                <th>Time</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.shiftdetail)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="childChkbox" value="@obj.Shiftdetailid" name="shiftchk" />
                    </td>
                    <td>
                        @obj.Shift.Physician.Firstname @obj.Shift.Physician.Lastname
                    </td>
                    <td>
                        @obj.Shiftdate.ToString("MMM dd, yyyy");
                    </td>
                    <td>
                        @obj.Starttime - @obj.Endtime
                    </td>
                    <td>
                        @if (@obj.Shiftdetailregions.Count() > 0)
                        {
                            @obj.Shiftdetailregions.ElementAt(0).Region.Name
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="d-flex justify-content-center gap-3 mt-3">
    <input type="hidden" id="forcurpage" value="@Model.currentpage" />
    <input type="hidden" id="forregionid" value="@Model.regionid" />
    @if (Model.totalpages > 0)
    {
        var previous = Model.currentpage - 1;
        var next = Model.currentpage + 1;
        if (previous <= 0)
        {
            previous = 1;
        }
        if (next > Model.totalpages)
        {
            next = Model.totalpages;
        }
        <button type="button" class="@previous pagebtn" onclick="ChangeShift(@previous)" style="width:75px">
            Previous
        </button>
        @if (Model.totalpages > 5)
        {
            @if (Model.currentpage > Model.totalpages - 3)
            {
                <button type="button" class="1 pagebtn" id="page-1" onclick="ChangeShift(1)" style="width:45px">
                    1
                </button>
                <button type="button" class="0 pagebtn" id="page-0" style="width:25px">
                    ...
                </button>
                @for (var i = Model.totalpages - 3; i <= Model.totalpages; i++)
                {
                    <button type="button" class="@i pagebtn" id="page-@i" onclick="ChangeShift(@i)" style="width:45px">
                        @i
                    </button>
                }
            }
            else if (Model.currentpage < Model.totalpages - 2 && Model.currentpage > 3)
            {
                <button type="button" class="1" pagebtn id="page-1" onclick="ChangeShift(1)" style="width:45px">
                    1
                </button>
                <button type="button" class="0 pagebtn" id="page-0" style="width:25px">
                    ...
                </button>
                @for (var i = Model.currentpage - 1; i <= Model.currentpage + 1; i++)
                {
                    <button type="button" class="@i pagebtn" id="page-@i" onclick="ChangeShift(@i)" style="width:45px">
                        @i
                    </button>
                }
                <button type="button" class="0" id="page-0" style="width:45px">
                    ...
                </button>
                <button type="button" class="@Model.totalpages pagebtn" id="page-@Model.totalpages" onclick="ChangeShift(@previous)" style="width:45px">
                    @Model.totalpages
                </button>
            }
            else
            {
                @for (var i = 1; i <= 4; i++)
                {
                    <button type="button" class="@i pagebtn" id="page-@i" onclick="ChangeShift(@i)" style="width:45px">
                        @i
                    </button>
                }
                <button type="button" class="0" id="page-0" style="width:45px">
                    ...
                </button>
                <button type="button" class="@Model.totalpages pagebtn" id="page-@Model.totalpages" onclick="ChangeShift(@Model.totalpages)" style="width:25px">
                    @Model.totalpages
                </button>
            }
        }
        else
        {
            @for (int page = 0; page < Model.totalpages; page++)
            {
                var temp = page + 1;

                <button type="button" class="@temp pagebtn" id="page-@temp" onclick="ChangeShift(@temp)" style="width:45px">
                    @temp
                </button>
            }
        }
        @if (next == 1 && Model.totalpages > 1)
        {
            next = 2;
        }
        <button type="button" class="@next pagebtn" onclick="ChangeShift(@next)" style="width:75px">
            Next
        </button>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    if (@Model.currentpage == 1) {
        document.getElementById("page-1").style.backgroundColor = "lightblue";
    }
    var page = document.getElementById("page-" + @Model.currentpage);
    if (page != null) {
        page.style.backgroundColor = "lightblue";
    }

    // jQuery script to handle leader checkbox click event
    $(document).ready(function () {
        $('#chkbox').click(function () {
            $('.childChkbox').prop('checked', $(this).prop('checked'));
        });

        // Handle individual checkbox clicks to update the leader checkbox state
        $('.childChkbox').click(function () {
            $('#chkbox').prop('checked', $('.childChkbox:checked').length === $('.childChkbox').length);
        });
    });

</script>
