@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Services.ViewModels.CaseActionDetails
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div class="container pt-3">

    <div class="d-flex justify-content-between">
        <div>
            <h3 class="none">Notes</h3>
        </div>
        <div>
            <button class=" border border-info rounded-2 p-2 bg-transparent">
                @if (Context.Request.Headers.Referer.Equals("http://localhost:5086/Admin/AdminDashboard"))
                {
                    <a asp-action="AdminDashboard" asp-controller="Admin" class="text-decoration-none text-info">&lt; Back</a>
                }
                else
                {
                    <a asp-action="ProviderDashboard" asp-controller="ProviderSide" class="text-decoration-none text-info">&lt; Back</a>
                }
            </button>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-12 col-sm-6">
            <div class="d-flex flex-row shadow rounded-3 p-3 m-0">
                <i class="bi bi-arrow-left-right me-3 h4"></i>
                <div class="d-flex flex-column">
                    <p class="m-0 mb-1 fw-bold">Transfer Notes</p>
                    <small class="m-0 text-secondary">
                        @if (Model.requeststatuslogs.Count() > 0)
                        {
                            @foreach (var item in Model.requeststatuslogs)
                            {
                                if (item.Notes != null)
                                {
                                    <span>@item.Notes on @item.Createddate.ToString("MM/dd/yyyy")  at  @item.Createddate.ToString("h:mm tt") . </span>
                                    <br />
                                }
                            }
                        }
                    </small>
                </div>
            </div>
        </div>

        <div class="cl-12 col-sm-6">
            <div class="d-flex flex-row shadow rounded-3 p-3 m-0">
                <i class="bi bi-person me-3 h4"></i>
                <div class="d-flex flex-column">
                    <p class="m-0 mb-1 fw-bold">Physician Notes</p>
                    <p class="m-0 text-secondary" id="physicianNote">
                        @Model.physicianNote
                    </p>
                </div>
            </div>
        </div>

        <div class="cl-12 col-sm-6 mt-2">
            <div class="d-flex flex-row shadow rounded-3 p-3 m-0">
                <i class="bi bi-person me-3 h4"></i>
                <div class="d-flex flex-column">
                    <p class="m-0 mb-1 fw-bold">Admin Notes</p>
                    <p class="m-0 text-secondary" id="adminNote">@Model.adminNote</p>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="shadow rounded-3 p-3">
                <div class="form-floating mb-3">
                    <textarea class="form-control notes" placeholder="admin notes" id="noteArea"
                              style="height: 100px" asp-for="adminNote"></textarea>
                    <label class="">
                        Additional Notes
                    </label>
                    <input type="text" asp-for="requestId" id="reqId" hidden />
                </div>
                <div class="d-flex justify-content-end mt-3 mb-2">
                    @if (HttpContextAccessor.HttpContext!.Session.GetString("Role") == "Admin")
                    {
                        <button class="btn btn-info text-white rounded-2 confirm" name="/Admin/SubmitNotes">Save Changes</button>
                    }
                    else
                    {
                        <button class="btn btn-info text-white rounded-2 confirm" name="/ProviderSide/SubmitNotes">Save Changes</button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#noteArea').val("");
        $('.confirm').on('click', function (e) {
            // var caseId = $('.reason').val();
            var notes = $('.notes').val();
            var requestId = $('#reqId').val();
            var url = $(this).attr('name');
            $.ajax({
                url: url,
                data: { "requestId": requestId, "notes": notes },
                success: function (response) {
                    $('#status-tabContent').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
    @if (HttpContextAccessor.HttpContext!.Session.GetString("Role") == "Admin")
    {
        @:$('#adminNote').html(notes);
    }
    else
    {
        @:$('#physicianNote').html(notes);
    }
        });
    });
</script>