@model Services.ViewModels.CaseActionDetails
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<partial name="_Notification" />
<div class="container mt-3" id="home-tab-pane">

    <div class="d-flex justify-content-between">
        <div>
            <div class="h3">
                Documents
            </div>
        </div>
        <div>
            <button class=" border border-info rounded-2 p-2 bg-transparent">
                @if (Context.Request.Headers.Referer.Equals("http://localhost:5086/Admin/AdminDashboard"))
                {
                    <a asp-action="AdminDashboard" asp-controller="Admin" class="text-decoration-none text-info">&lt; Back</a>
                }
                else
                {
                    <a asp-action="ProviderDashboard" asp-controller="ProviderSide" class="text-decoration-none text-info">&lt; Back</a>
                }
            </button>
        </div>
    </div>

    <div class="border rounded-3 p-3 mt-4 bg-transparent" id="main-content">

        <div class="fs-6">patient name</div>
        <div class="text-info fw-bolder h4 mt-2">@Model.FirstName</div>
        <p class="fs-6">Check here for any files that you or the doctors or your subrequests requestors have attached for your review.</p>
        <div class="row mx-1">


            <div class="row d-flex mt-3">
                <div class="py-2 col-12 ">
                    <div class="form-group rounded d-flex align-items-center justify-content-between border border-1 bg-body-secondary">
                        <div class="px-3 table-responsive">
                            <input type="file" id="actual-btn" asp-for="Upload" multiple hidden />
                            <input type="text" id="requestId" value="@Model.requestId" hidden />
                            <label role="button" for="actual-btn" id="file-choosen" class="choosenfile text-nowrap text-secondary">No item selected</label>
                        </div>
                        @if (HttpContextAccessor.HttpContext!.Session.GetString("Role") == "Admin")
                        {
                            <button type="submit" class="uploadbtn px-2 py-1 d-flex ms-1 border-0 rounded-2 btn-info" name="/Admin/UploadDocument">
                                <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div class="d-none d-sm-block">Upload</div></label>
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="uploadbtn px-2 py-1 d-flex ms-1 border-0 rounded-2 btn-info" name="/ProviderSide/UploadDocument">
                                <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div class="d-none d-sm-block">Upload</div></label>
                            </button>
                        }
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-between mt-4">
                <div class="h4">Download</div>
                <div>
                    <button class=" border border-info rounded-2 p-2 bg-transparent">
                        <a class="text-decoration-none text-info d-flex flex-row" onclick="downloadSelectedFiles()">
                            <i class="bi bi-cloud-arrow-down me-md-2"></i>
                            <span class="d-none d-md-block">Download all</span>
                        </a>
                    </button>
                    @if (HttpContextAccessor.HttpContext!.Session.GetString("Role") == "Admin")
                    {
                        <button class=" border border-info rounded-2 p-2 bg-transparent" id="DeleteAll" name="/Admin/DeleteAll">
                            <a class="text-decoration-none text-info d-flex flex-row">
                                <i class="bi bi-trash3 me-md-2"></i>
                                <span class="d-none d-md-block">Delete all</span>
                            </a>
                        </button>
                    }
                    else
                    {
                        <button class=" border border-info rounded-2 p-2 bg-transparent" id="DeleteAll" name="/ProviderSide/DeleteAll">
                            <a class="text-decoration-none text-info d-flex flex-row">
                                <i class="bi bi-trash3 me-md-2"></i>
                                <span class="d-none d-md-block">Delete all</span>
                            </a>
                        </button>
                    }
                    <button class=" border border-info rounded-2 p-2 bg-transparent text-info" id="sendMail">
                        <a class="text-decoration-none text-info d-flex flex-row">
                            <i class="bi bi-envelope me-md-2"></i>
                            <span class="d-none d-md-block">Send Mail</span>
                        </a>
                    </button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table mt-2">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"><input type="checkbox" id="alldoc" /></th>
                            <th scope="col">First</th>

                            <th scope="col">Upload Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.requestwisefile)
                        {
                            <tr>
                                <td><input type="checkbox" class="all" name="checkdoc" value="@m.Requestwisefileid" /></td>
                                <td>@m.Filename</td>
                                <td>@m.Createddate</td>
                                <td>
                                    <div class="d-flex flex-column flex-sm-row gap-2">
                                        <spna>
                                        <a role="button" class="text-decoration-none w-100 h-100" href="~/upload/@m.Filename" download>
                                            <span class="p-1 text-info border rounded-2 border-info">
                                                <i class="bi bi-cloud-arrow-down"></i>
                                            </span>
                                        </a>

                                        </spna>
                                    @if (HttpContextAccessor.HttpContext!.Session.GetString("Role") == "Admin")
                                    {
                                        <span class="p-1 text-info border rounded-2 border-info SingleDelete" data-id="@m.Requestwisefileid" name="/Admin/SingleDelete">
                                            <i class="bi bi-trash3"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="p-1 text-info border rounded-2 border-info SingleDelete" data-id="@m.Requestwisefileid" name="/ProviderSide/SingleDelete">
                                            <i class="bi bi-trash3"></i>
                                        </span>
                                    }

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    $('#actual-btn').change(function (e) {
        $('#file-choosen').html($(this)[0].files[0].name)
    })

    $(document).ready(function () {
        $('#alldoc').click(function () {
            $('.all').prop('checked', this.checked);
        });

        $('.all').click(function () {
            $('#alldoc').prop('checked', $('.all:checked').length === $('.all').length);
        });
    });

    function downloadSelectedFiles() {
     
        var selectedFiles = document.querySelectorAll('input[name="checkdoc"]:checked');
        var fileUrls = [];
        var flag = 0;
        // Iterate through selected checkboxes and extract file URLs
        selectedFiles.forEach(function (checkbox) {
            flag = 1;
            var row = checkbox.closest('tr');
            var fileUrl = row.querySelector('a').getAttribute('href');
            fileUrls.push(fileUrl);
        });

        // Download each file
        fileUrls.forEach(function (url) {
            // Create an anchor element to trigger the download
            var link = document.createElement('a');
            link.href = url;
            link.download = '';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
        if(flag==0){
            toastr.error("Please select document first");
        }
    }

    $('.uploadbtn').on('click', function () {
        var url = $(this).attr('name');
        var myfile = $('#actual-btn')[0].files;
        var formData = new FormData();
        var reqid = $('#requestId').val();
        if (myfile.length > 0) {
            for (var i = 0; i < myfile.length; i++) {
                formData.append('myfile', myfile[i]);
            }
        }
        formData.append('reqid', reqid);
        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                $('#home-tab-pane').html(response);
            },
        });
    });

    $('.SingleDelete').on('click', function (e) {
        e.preventDefault();
        var reqfileid = $(this).attr('data-id');
        var reqid = $('#requestId').val();
        var url = $(this).attr('name')
        swal.fire({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        }).then(function (result) {
            if (result.value) {
                console.log("Yes Btn");
                $.ajax({
                    url: url,
                    data: { 'reqfileid': reqfileid, 'reqid': reqid },
                    success: function (response) {
                        $('#home-tab-pane').html(response);
                    },
                });
            }
        });
    });

    $('#DeleteAll').on('click', function () {
        var url = $(this).attr('name');
        var formData = new FormData();
        var flag = 0;
        $('input[type="checkbox"]:checked').each(function () {
            formData.append('reqwiseid', $(this).val());
            flag = 1;
        });
        var reqid = $('#requestId').val();
        formData.append('reqid', reqid);
        if (flag == 1) {
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#home-tab-pane').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        else {
            toastr.error("Please select document first");
        }
    });

    $('#sendMail').on('click', function () {
        var formData = new FormData();
        var flag = 0;
        $('input[type="checkbox"]:checked').each(function () {
            formData.append('reqwiseid', $(this).val());
            flag = 1;
        });
        var reqid = $('#requestId').val();
        formData.append('reqid', reqid);
        if (flag == 1) {
            $.ajax({
                url: '/Admin/sendMail',
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#home-tab-pane').html(response);
                    toastr.success("Email sent successfully.");
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        else {
            toastr.error("Please select document first");
        }
    });
</script>
